body {
    font-family: Arial;
    background-color: #f4f4f4;
    padding: 20px;
}

input {
    padding: 8px;
    margin: 5px;
    display: block;
}

button {
    padding: 8px 15px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

p {
    font-weight: bold;
}
